{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Home{% endblock %}

{% block content %}

<section class="container py-5 text-center">
  <h2 class="logo-font mb-4 text-accent-blue">
    Discover the art of Handcrafted Clay
  </h2>
  <p class="lead mx-auto text-secondary">
    Cloudberry Clay celebrates creativity and craftsmanship through beautiful handmade pieces for everyday living.
    Explore our unique collections designed to bring charm and colour into your home.
  </p>
</section>

{% endblock %}
