{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<p class="text-center mb-4">{% trans "Are you sure you want to sign out?" %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  <div class="d-flex justify-content-between">
    <a href="/" class="btn btn-outline-danger">{% trans "Cancel" %}</a>
    <button type="submit" class="btn btn-outline-primary">{% trans "Sign Out" %}</button>
  </div>
</form>
{% endblock %}