{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}

<form method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-outline-primary w-100 rounded-pill mt-3">
        {% trans "Create Account" %}
    </button>
</form>

<div class="text-center mt-3 small">
    {% trans "Already have an account?" %}
    <a href="{% url 'account_login' %}" class="text-accent-blue">
        {% trans "Sign In" %}
    </a>
</div>

{% endblock inner_content %}
